@tailwind base;
@tailwind components;
@tailwind utilities;


.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#spin{
  animation: logo-spin 4s linear 1s infinite ;
}

@keyframes logo-spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate:360deg;
  }
}


.anm{
  position: relative;
  animation: link 2s linear 10s infinite  alternate-reverse ;
  z-index: -1;
}

@keyframes link{
      0% {
        color: rgba(0, 255, 174, 0.75);
        text-shadow: 3px 3px 0.1rem transparent ;
        opacity: 0.1;
      }
      100% {
        text-shadow: 10px 10px 3rem rgba(0, 255, 174, 0.75);
        color: white;
      }
}


.typewriter  {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s ease-in-out 5s  infinite alternate-reverse,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 34rem }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }

}